
html{
  font-size: 18px;
  background-color: hsla(0,0%, 80%);
}

h1,h2,h3{
  font-weight: bold;
}
p{
  font-size: 1rem;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
a{
  text-decoration: none;
}
a:link {
    color: green;
}
a:visited {
    color: green;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
a {
   outline: 0;
}

i, .datos{ transition: all .2s ease-in-out; }
.grow:hover i{
  transform: scale(1.5);
}


/* HEADER */
header div{
  text-align: center;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(0,0%, 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  padding: 0.5rem 0;
}
header nav{
  padding: 0 4rem;
}
header img{
  width: 6rem;
  height: auto;
  padding: 0 4rem;
}
/* Main Content */

main{
  margin: 0;
  position: relative;
  align-items: center;
  top: 5.5rem;
  width: 75%;
  margin: auto;
  display: flex;
  display: block;
  flex-direction: column;
}

#landing img{
    max-width: 100%;
    height: auto;
}
#landing h1{
  color: hsl(0,0%,0%);
  font-size: 4rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px hsl(0, 50%, 100%);
  position: absolute;
     top: 15%;
     left: 50%;
     transform: translate(-50%, -50%);
}
#weare {
margin-top: 2rem;
width: 100%;
text-align: center;
padding-bottom: 5rem;
}
.boxes{
  margin: 2rem 0;
  width: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.infobox{
  padding: 1rem 1rem;
  margin: 1rem 0;
  width: 25%;
  background-color: hsla(0,0%, 60%);

}
.infobox h2{
  margin: 1rem 0;
}
.infobox p{
  text-align: justify;
  margin-bottom: 2rem;
}
#contacto{
  width: 100%;
  text-align: center;
}

.datos {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  width: 45%;
  align-items: center;
  background-color: hsla(0,0%, 60%);
}

.datos h2{
  margin: 0 1rem;
}
section{
  display: block;
}

footer{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
margin-top:8rem;
padding: 2rem 0;
background-color: hsl(0,0%, 90%);
}
footer h2{
  margin:  1rem 0;
}
.datos:hover{
  background-color: hsl(300,10%, 60%);
  }
/* Resposive Desing */
.smally{
  display: none;
}

  @media only screen and (max-width: 1180px){
    main{
      width: 98%;
    }
    .infobox{
      width: 40%;
      margin: 0;
      padding: 1rem;
    }
    .datos{
      width: 100%;
      height: 4rem;
    }
    header h2{
      display: none;
    }
  }
@media only screen and (max-width: 850px){
  header h1, #landing h1{
    display: none;
  }
  header{
    justify-content: center;
  }
  header nav{
    flex-shrink: 1;
    padding: 0 0;
  }
  header img{
    padding: 0 0;
  }

}
@media only screen and (max-width: 450px){
  .datos i{
    display: none;
  }
  .datos{
    margin: 0;
  }

  .infobox{
    width: 100%;
    margin: 0;
    padding: 1rem 0.5rem;
    height: auto;
  }
  h2{
    font-size: 1.4rem;
  }
  .biggy{
    display: none;
  }
  .smally{
    display: inline-block;
  }
}
